* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:#f7f5f7;
}

.container {
    position: absolute;
    display: grid;
    grid-template-columns: 330px 1fr;
    grid-template-rows: 75px 1fr;
    width: 90vw;
    height: 90vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 3px 3px 5px #c4dfe6;
}

/* ---------------------- HEADER STYLE ---------------------- */

.container-header {
    grid-column: 1/3;
    background: #66a5ad;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 40px;
}

.container-header .to-do-header-icon {
    width: 50px;
    height: 50px;
}

/* ---------------------- HEADER STYLE ---------------------- */






/* ---------------------- MENU STYLE ---------------------- */

.container-menu {
    background: #c4dfe6;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    padding: 30px;
    font-size: 23px;
}

.container-menu .menu-option {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container-menu .menu-icon {
    width: 30px;
}

.container-menu .menu-option-project-title {
    font-weight: 600;
    padding-top: 15px;
}

.container-menu .menu-option-project-title::before {
    content: '';
    width: 11px;
    height: 11px;
    border: solid black;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    display: inline-block;
    margin: 0 7px 7px 5px;
}

.add-button {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
    background: #66a5ad;
    transition: transform 0.3s;
}

.add-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    width: 25px;
    height: 4px;
    background: #000;
}

.add-button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 17.5px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    width: 25px;
    height: 4px;
    background: #000;
}

.add-button:hover {
    transform: scale(1.1);
}

.add-new-project-btn {
    bottom: 30px;
    left: 230px;
}

.add-new-task {
    bottom: 30px;
    right: 30px;
}

/* ---------------------- MENU STYLE ---------------------- */





/* ---------------------- PAGE STYLE ---------------------- */

.container-page {
    background: rgb(255, 255, 255);
}

/* ---------------------- ADD NEW PROJECT ---------------------- */


.dark-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.new-project-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    font-size: 25px;
    background:#66a5ad;
    width: 450px;
    height: 170px;
    box-shadow: 3px 3px 5px #c4dfe6;
}

.new-field {
    display: flex;
    align-items: center;
    gap: 15px;
}

.new-field input {
    padding: 5px 10px;
    font-size: 18px;
}

.new-btns {
    display: flex;
    gap: 50px;
}

.project-btn {
    font-size: 18px;
    width: 90px;
    height: 35px;
    padding: 5px;
}

/* ---------------------- ADD NEW PROJECT ---------------------- */




/* ---------------------- PAGE STYLE ---------------------- */