* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:#f7f5f7;
}

.container {
    position: absolute;
    display: grid;
    grid-template-columns: 330px 1fr;
    grid-template-rows: 75px 1fr;
    width: 90vw;
    height: 90vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 3px 3px 5px #c4dfe6;
}

/* ---------------------- HEADER STYLE ---------------------- */

.container-header {
    grid-column: 1/3;
    background: #66a5ad;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 40px;
}

.container-header .to-do-header-icon {
    width: 50px;
    height: 50px;
}

/* ---------------------- HEADER STYLE ---------------------- */






/* ---------------------- MENU STYLE ---------------------- */

.container-menu {
    background: #c4dfe6;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 30px 13px;
    font-size: 23px;
}

.container-menu .menu-option {
    position: relative;
    display: flex;
    align-items: center;
    padding: 7px 20px;
    width: 100%;
}

.container-menu .hover-option:hover {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    cursor: pointer;
}

.container-menu .menu-icon {
    width: 25px;
    margin-right: 10px;
}

.container-menu .menu-option-project-title {
    font-weight: 600;
    padding-top: 15px;
}

.container-menu .menu-option-project-title::before {
    content: '';
    width: 11px;
    height: 11px;
    border: solid black;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    display: inline-block;
    margin: 0 15px 7px 5px;
}

.add-button {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
    background: #66a5ad;
    border: none;
    font-size: 40px;
    font-weight: 600;
    transition: transform 0.3s;
}

.add-button:hover {
    transform: scale(0.7);
    cursor: pointer;
}

.add-new-project-btn {
    position: absolute;
    right: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    background: #66a5ad;
    margin-right: 10px;
    font-size: 23px;
    font-weight: 600;
    transition: transform 0.4s;
}

.add-new-project-btn:hover {
    transform: scale(2);
    cursor: pointer;
}

.menu-option-project-list {
    width: 300px;
    height: 545px;
    padding: 25px 0px 0px 45px;
}

.menu-option-project-list li {
    position: relative;
    width: 100%;
    padding: 3px 10px;
    list-style: none;
    font-size: 20px;
    color:rgba(0, 0, 0, 0.85);
}

.menu-option-project-list li:hover {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    cursor: default;
}

.menu-option-project-list .fa-trash-can {
    display: none;
}

.menu-option-project-list li:hover .fa-trash-can {
    position: absolute;
    right: 15px;
    top: 7px;
    display: inline-block;
    font-size: 17px;
    cursor: pointer;
}

.menu-option-project-list .fa-list {
    color:rgba(0, 0, 0, 0.7);
    font-size: 17px;
    padding: 0 10px 0px 0;
}

.none {
    display: none;
}

/* ---------------------- MENU STYLE ---------------------- */





/* ---------------------- PAGE STYLE ---------------------- */

.container-page {
    background: rgb(255, 255, 255);
}

/* ---------------------- ADD NEW PROJECT ---------------------- */

.container-form-project {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.form-project {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
    font-size: 25px;
    background:#66a5ad;
    width: 450px;
    height: 170px;
    box-shadow: 3px 3px 5px #c4dfe6;
}

.form-project .form-message {
    position: absolute;
    font-size: 16px;
    left: 135px;
    top: 50;
    color: rgb(236, 4, 4);
}

.form-details {
    display: flex;
    align-items: center;
    gap: 15px;
}

.form-details input {
    padding: 5px 10px;
    font-size: 18px;
}

.btns {
    display: flex;
    gap: 50px;
}

.btn {
    font-size: 18px;
    width: 90px;
    height: 35px;
    padding: 5px;
}

/* ---------------------- ADD NEW PROJECT ---------------------- */




/* ---------------------- PAGE STYLE ---------------------- */